/src/ScheduleCenter.AutoMapper/bin
/src/ScheduleCenter.AutoMapper/obj
/src/ScheduleCenter.Consul/bin
/src/ScheduleCenter.Consul/obj
/src/ScheduleCenter.Core.API/bin
/src/ScheduleCenter.Core.API/Logs
/src/ScheduleCenter.Core.API/obj
/src/ScheduleCenter.Dto/bin
/src/ScheduleCenter.Dto/obj
/src/ScheduleCenter.Models/bin
/src/ScheduleCenter.Models/obj
/src/ScheduleCenter.Serilog/bin
/src/ScheduleCenter.Serilog/obj
/src/ScheduleCenter.Services/bin
/src/ScheduleCenter.Services/obj
/src/ScheduleCenter.Shared/bin
/src/ScheduleCenter.Shared/obj
/src/ScheduleCenter.SqlSugar/bin
/src/ScheduleCenter.SqlSugar/obj
/src/ScheduleCenter.Swagger/bin
/src/ScheduleCenter.Swagger/obj
/src/ScheduleCenter.Test/bin
/src/ScheduleCenter.Test/obj
/.vs
/src/ScheduleCenter.Redis/obj
/src/ScheduleCenter.Redis/bin
/src/ScheduleCenter.Common/bin
/src/ScheduleCenter.Common/obj
/src/ScheduleCenter.WebSockets/bin
/src/ScheduleCenter.WebSockets/obj
/src/ScheduleCenter.Asp.NetCore/bin
/src/ScheduleCenter.Asp.NetCore/obj
/src/ScheduleCenter.EventBus/bin
/src/ScheduleCenter.EventBus/obj
/src/ScheduleCenter.AspNetCore/bin
/src/ScheduleCenter.AspNetCore/obj
/src/ScheduleCenter.Core.API/wwwroot/export
/src/ScheduleCenter.MongoDB/obj
/src/ScheduleCenter.MongoDB/bin
